body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
.container {
     margin-top:100px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vehiculo {
    max-width: 600px;
    width: 100%;
    padding: 30px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.errores {
    color: red;
}

.alerta{
 margin-top: 50px;
}

.alerta2{
 margin-top: 30px;
}